<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thế giới điện thoại</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css"/>
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

    <!-- Header Section Start -->
    <div class="header-section section">

        <!-- Header Top Start -->
        <div class="header-top header-top-one header-top-border pt-10 pb-10">
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <div class="col order-5  order-lg-2 mt-10 mb-10">
                        <!-- Header Advance Search Start -->
                        <div class="header-advance-search">
                        
                            <form action="#">
                                <div class="input"><input type="text" placeholder="Tìm kiếm thiết bị"/></div>
                                <div class="select">
                                    <select class="nice-select">
                                        <option>Tất cả danh mục</option>
                                        <option>Mobile</option>
                                        <option>Computer</option>
                                        <option>Laptop</option>
                                        <option>Camera</option>
                                    </select>
                                </div>
                                <div class="submit"><button><i class="icofont icofont-search"></i></button></div>
                            </form>
                        
                        </div><!-- Header Advance Search End -->
                    </div>

                    <div class="col order-2 order-lg-12 mt-10 mb-10">
                        <!-- Header Account Links Start -->
                        <div class="header-account-links">
                            <% if (Session["LoginSession"] == null)
                               {%>
                            <a href="Register.aspx"><i class="icofont icofont-user-alt-7"></i> <span>Đăng ký</span></a>
                            <a href="Login.aspx"><i class="icofont icofont-login d-none"></i> <span>Đăng nhập</span></a>
                            <% }
                               else
                               {
                                    foreach (Personnel item in (List<Personnel>)Session["LoginSession"])
                                    {%>
                            <a href="Profile.aspx?id=<%: item.Id %>"><i class="icofont icofont-user-alt-7"></i> <span><%: item.Name %></span></a>
                            <a href="Logout.aspx"><i class="icofont icofont-login d-none"></i> <span>Đăng xuất</span></a>
                            <%      } 
                              }%>
                        </div><!-- Header Account Links End -->
                    </div>

                </div>
            </div>
        </div><!-- Header Top End -->

        <!-- Header Bottom Start -->
        <div class="header-bottom header-bottom-one header-sticky">
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <div class="col mt-15 mb-15">
                        <!-- Logo Start -->
                        <div class="header-logo">
                            <a href="Default.aspx">
                                <img src="assets/images/logo.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template"/>
                            </a>
                        </div><!-- Logo End -->
                    </div>

                    <div class="col order-1 order-lg-1 d-none d-lg-block">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="Default.aspx">Trang chủ</a>
                                    </li>
                                    <li class="menu-item-has-children"><a href="Product.aspx">Điện Thoại</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Iphone</a></li>
                                            <li><a href="#">SamSung</a></li>
                                            <li><a href="#">Xiaomi</a></li>
                                            <li><a href="#">Khác</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="Product.aspx">Điện Thoại cũ</a>
                                    </li>
                                    <li><a href="Contact.aspx">Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div><!-- Main Menu End -->
                    </div>

                    <div class="col order-lg-2">
                        <!-- Header Shop Links Start -->
                        <div class="header-shop-links">
                            <!-- Cart -->
                            <a href="cart.html" class="header-cart"><i class="ti-shopping-cart"></i> <span class="number">3</span></a>
                        
                        </div><!-- Header Shop Links End -->
                    </div>
                
                    <!-- Mobile Menu -->
                    <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                </div>
            </div>
        </div><!-- Header Bottom End -->


    </div><!-- Header Section End -->

    <!-- Mini Cart Wrap Start -->                      
    <div class="mini-cart-wrap">

        <!-- Mini Cart Top -->
        <div class="mini-cart-top">    
    
            <button class="close-cart">Đóng<i class="icofont icofont-close"></i></button>
        
        </div>

        <!-- Mini Cart Products -->
        <ul class="mini-cart-products">
            <li>
                <a class="image"><img src="assets/images/product/product-1.png" alt="Product"></a>
                <div class="content">
                    <a href="single-product.html" class="title">Waxon Note Book Pro 5</a>
                    <span class="price">Price: $295</span>
                    <span class="qty">Qty: 02</span>
                </div>
                <button class="remove"><i class="fa fa-trash-o"></i></button>
            </li>
            <li>
                <a class="image"><img src="assets/images/product/product-2.png" alt="Product"></a>
                <div class="content">
                    <a href="single-product.html" class="title">Aquet Drone D 420</a>
                    <span class="price">Price: $275</span>
                    <span class="qty">Qty: 01</span>
                </div>
                <button class="remove"><i class="fa fa-trash-o"></i></button>
            </li>
            <li>
                <a class="image"><img src="assets/images/product/product-3.png" alt="Product"></a>
                <div class="content">
                    <a href="single-product.html" class="title">Game Station X 22</a>
                    <span class="price">Price: $295</span>
                    <span class="qty">Qty: 01</span>
                </div>
                <button class="remove"><i class="fa fa-trash-o"></i></button>
            </li>
        </ul>

        <!-- Mini Cart Bottom -->
        <div class="mini-cart-bottom">    
    
            <h4 class="sub-total">Đơn giá: <span>$1160</span></h4>

            <div class="button">
                <a href="Cart.aspx">ĐI ĐẾN GIỎ HÀNG</a>
            </div>
        
        </div>

    </div><!-- Mini Cart Wrap End --> 

    <!-- Cart Overlay -->
    <div class="cart-overlay"></div>

    <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>

    <!-- Footer Section Start -->
    <div class="footer-section section bg-ivory">
   
        <!-- Footer Top Section Start -->
        <div class="footer-top-section section pt-90 pb-50">
            <div class="container">
           
                <!-- Footer Widget Start -->
                <div class="row">
                    <div class="col mb-90">
                        <div class="footer-widget text-center">
                            <div class="footer-logo">
                                <img src="assets/images/logo.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                                <img class="theme-dark" src="assets/images/logo-light.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                            </div>
                            <p>Sản phẩm điện tử những lời dạy thực tế của ông là nhà thám hiểm vĩ đại về sự thật, sự sai lầm của hạnh phúc con người. Không ai từ chối</p>
                        </div>
                    </div>
                </div><!-- Footer Widget End -->
            
                <div class="row">
                
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                       
                            <h4 class="widget-title">THÔNG TIN LIÊN HỆ</h4>
                        
                            <p class="contact-info">
                                <span>Địa Chỉ</span>
                                 Địa chỉ 1:  <br>
                                 Địa chỉ 2:                        </p>
                        
                            <p class="contact-info">
                                <span>Điện thoại</span>
                                <a href="tel:01234567890">01234 567 890</a>
                                <a href="tel:01234567891">01234 567 891</a>
                            </p>
                        
                            <p class="contact-info">
                                <span>Web</span>
                                <a href="mailto:nkockkibo@gmail.com">nkockkibo@gmail.com</a>
                                <a href="#">www.example.com</a>
                            </p>
                        
                        </div>
                    </div><!-- Footer Widget End -->
                
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                       
                            <h4 class="widget-title">CHĂM SÓC KHÁCH HÀNG</h4>
                        
                            <ul class="link-widget">
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Tính năng</a></li>
                                <li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Cửa hàng</a></li>
                                <li><a href="#">Thủ tục thanh toán</a></li>
                                <li><a href="#">Danh sách mong muốn</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">Kết nối</a></li>
                            </ul>
                        
                        </div>
                    </div><!-- Footer Widget End -->
                
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                       
                            <h4 class="widget-title">THÔNG TIN</h4>
                        
                            <ul class="link-widget">
                                <li><a href="#">Theo dõi đơn đặt hàng của bạn</a></li>
                                <li><a href="#">Định vị cửa hàng</a></li>
                                <li><a href="#">Hỗ trợ trực tuyến</a></li>
                                <li><a href="#">Điều khoản & Điều kiện</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">Vận chuyển & Trả hàng</a></li>
                                <li><a href="#">Phiếu giảm giá quà tặng</a></li>
                                <li><a href="#">Phiếu giảm giá đặc biệt</a></li>
                            </ul>
                        
                        </div>
                    </div><!-- Footer Widget End -->
                
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                       
                            <h4 class="widget-title">TWEET Mới Nhất</h4>
                        
                            <div class="footer-tweet"></div>
                        
                        </div>
                    </div><!-- Footer Widget End -->
                
                </div>
            
            </div>
        </div><!-- Footer Bottom Section Start -->
   
        <!-- Footer Bottom Section Start -->
        <div class="footer-bottom-section section">
            <div class="container">
                <div class="row">
                
                    <!-- Footer Copyright -->
                    <div class="col-lg-6 col-12">
                        <div class="footer-copyright"><p>&copy; Copyright, All Rights Reserved by <a href="#">E&E</a></p></div>
                    </div>
                
                    <!-- Footer Payment Support -->
                    <div class="col-lg-6 col-12">
                        <div class="footer-payments-image"><img src="assets/images/payment-support.png" alt="Payment Support Image"></div>
                    </div>
                
                </div>
            </div>
        </div><!-- Footer Bottom Section Start -->
    
    </div><!-- Footer Section End -->

    <!-- JS
    ============================================ -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>
</html>
